<div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
    There are no items yet.
</div>
<div class="row">
    <div cl ass="well">
        <h1 class="text-center">Produtos</h1>
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="product in items">
                <div class="col-sm-7">
                    <h2 class="list-group-item-heading"> {{product.description}} </h2>
                </div>
                <div class="col-sm-2">
                    <h4>{{product.price | currency:"R$" }}</h4>
                </div>
                <div class="col-sm-3 text-center">
                    <button type="button" ng-click="checkout(product)" class="btn btn-success btn-block"> Comprar </button>
                </div>
            </a>
        </div>
    </div>
</div>