<div class="page-header">
    <h1>Produtos disponíveis:</h1>
</div>
<div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
    There are no items yet.
</div>
<form class="form-horizontal" role="form">
    <div class="form-group" ng-repeat="product in items">
        <div class="checkbox col-xs-9">
            <label>
                {{product.description}} - {{product.price}}
            </label>
        </div>
        <div class="col-xs-3">
            <button class="pull-right btn" type="button" title="Comprar"
                    ng-click="checkout(product)">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
        </div>
    </div>
    <hr />
</form>
